/*globe setting*/

element.style {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-size: auto auto;
    cursor: default;
}

.Shopping {
    font-family: Tahoma;
    font-size: 11px;
    margin: 0 auto;
}

.OffWhite1Background {
    background-color: #FCFBF1;
}

/*shopping header*/
.ShoppingHeader .Header {
    background: url("../images/home/ShoppingHeaderBackground.gif") no-repeat scroll center top transparent;
    height: 111px;
    margin-left: auto;
    margin-right: auto;
    min-width: 990px;
    padding-left: 4px;
    position: relative;
    width: 990px;
}

.ShoppingHeader .Header .Content .FindSection {
    float: left;
    height: 110px;
    width: 342px;
}

.ShoppingHeader .Header .Content .FindSection .Logo {
    display: block;
    margin-left: 7px;
    margin-top: 21px;
}
.Header .Content .QuickShopPanel .QuickShopIcon {
    float: left;
}

.ShoppingHeader .Header .Content .FindSection .QuickShopPanel {
    float: left;
    height: 38px;
    margin-top: 1px;
    width: 70px;
}

/*body*/
.body {
    /*background: url("../images/home/AdminPageContentBackground.gif") repeat-y scroll center top transparent;*/
    margin-left: auto;
    margin-right: auto;
    padding-left: 4px;
    width: 990px;
}

/*Navigator*/
.DepartmentNavigatorContainer {
    padding-left: 0;
    padding-right: 0;
    width: 986px;
}

.DepartmentNavigatorContainer .DepartmentTabContent {
    float: left;
    font-family: Trebuchet,sans-serif;
    font-size: 11px;
    height: 90px;
    position: relative;
    text-align: center;
}

.DepartmentNavigatorContainer .SeperatorImage {
    background-color: #E7E9CF;
    display: block;
    float: left;
    height: 91px;
    width: 1px;
}






















/*Accordion for category menu */
dl
{
	min-width: 960px;
    width: 55em;
    padding-left: 1em;
    clear: both;
}
	dl dt
	{
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border: 1px solid #cccccc;
		margin: 0;
        width: 55em;
	}
		dl dt a
		{
			color: #000000;
			font-weight: bold;
			text-decoration: none;
			padding: 10px;
			display: block;
		}
	dl dd
	{
		margin: 0;
		height: 0;
		overflow: hidden;
		-webkit-transition: height 1s ease;
        width: 58em;
	}
		dl dd p
		{
			padding: 10px;
			margin: 0;
		}
	dl dd:target
	{
		height: auto;
	}

@media (-webkit-transition) {
	dl dd:target
	{
		height: 6.667em;
	}
}

/*Styles for sidebar_A (left)*/

.store .sidebar_a {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 11.5em;
  /*background: #99ff00;*/
  color: #bfb;
  font-size: small;
}

/* Styles for the cart in sidebar (right) */

.cart{
  float: right;
  padding-top: 5em;
  padding-left: 1em;
  padding-bottom: 1em;
}
.cart table {
  width: 20em;
  font-size: smaller;
  color:     black;
  padding-top: 1em;
}

.cart table {
  border-top:    1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
}

.cart .button_to{
  float: right
}

/*Styles for footer*/

.footer{
  padding-top: 3em;
  padding-bottom: 1em;
  text-align: center;
}

