/*globe setting*/

#notice{
    font-family: Helvetica,Arial,Verdana, sans-serif;
    font-size: 10px;
    font-weight: bolder;
    color: red;
    margin: 0;
}

.Shopping {
    font-family:  Arial,Helvetica,Verdana, sans-serif;
    font-size: 11px;
    margin: 0;
    min-width: 996px;
}

form {
    margin-left: 5px;
}

.OffWhite1Background {
    background-color: #FCFBF1;
}

/*store TopLine*/
.Shopping .TopLine {
    /*background-color: #545048;*/
    display: block;
    height: 10px;
    line-height: 10px;
    width: 100%;
}


/*shopping header*/
.ShoppingHeader .Header {
   background: url("../images/home/ShoppingHeaderBackground.gif") no-repeat scroll center top transparent;
   height: 111px;
    margin-left: auto;
    margin-right: auto;
    min-width: 990px;
    padding-left: 4px;
    position: relative;
    width: 990px;
}

.ShoppingHeader .Header .FindSection {
    float: left;
    height: 110px;
    width: 342px;
}

.ShoppingHeader .Header .FindSection .logo{
    display: block;
    margin-left: 7px;
    margin-top: 21px;
}

.ShoppingHeader .Header .MetaSction{
    float: left;
    height: 110px;
    width: 646px;
}

.ShoppingHeader .Header .MetaSction .TrolleyMeterContainer {
    color: #414A36;
    font-family: helvetica,serif;
    font-size: 11px;
}

.ShoppingHeader .Header .MetaSction .TrolleyMeterContainer .TrolleySection{

}

.ShoppingHeader .Header .MetaSction .TrolleyMeterContainer .SaveMoneySection{
    float: left;
    height: 32px;
    margin-left: 2px;
    margin-top: 73px;
    padding-top: 6px;
    text-align: center;
    width: 110px;
}

.ShoppingHeader .Header .SiteMenuSection{
    float: right;
}

/*body*/
.body {
    /*background: url("../images/home/AdminPageContentBackground.gif") repeat-y scroll center top transparent;*/
    margin-left: auto;
    margin-right: auto;
    padding-left: 4px;
    width: 990px;
}

/*Navigator*/
.Shopping .Body .PageContent {
    clear: both;
    padding-left: 0;
    padding-right: 0;
    width: 986px;
}

.shopping .Body .PageContent .Navigator{
   clear: both;

}
.DepartmentNavigatorContainer {
    padding-left: 5px;
    padding-right: 0;
    width: 986px;
}
.DepartmentTabContainer {
    float: left;
    font-family: helvetica;
    font-size: 11px;
    height: 90px;
    position: relative;
}

.DepartmentNavigatorContainer .DepartmentTabContent {
    background-color: #F0EFE0;
    border-bottom: 2px solid #CCCEBC;
    float: left;
    font-family: helvetica;
    font-size: 12px;
    height: 88px;
    margin-left: 2px;
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
    width: 59px;
}

.DepartmentNavigatorContainer .DepartmentTabContent .DepartmentTabContentTop{
    text-align: center;
}

.DepartmentNavigatorContainer .DepartmentTabContent .DepartmentTabContentTop{
    text-align: center;
    padding-top: 5px;
}

.DepartmentNavigatorContainer .DepartmentTabContent .SeparatorImage {
    background-color: #E7E9CF;
    display: block;
    float: left;
    height: 91px;
    width: 1px;
}


 /*content*/
.content{
    width: 750px;
    padding-bottom: 30px;
    padding-top: 10px;
    float: left;
}


/*Accordion for category menu */
dl{
	min-width: 700px;
    width: 55em;
    padding-left: 1em;
    clear: both;
}

dl dt{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #cccccc;
	margin: 0;
    width: 68em;
}
dl dt a{
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;
	display: block;
}
dl dd{
	margin: 0;
	height: 0;
	overflow: hidden;
	-webkit-transition: height 1s ease;
    width: 68em;
}
dl dd p{
	padding: 10px;
	margin: 0;
}
dl dd:target{
	height: auto;
}

@media (-webkit-transition) {
	dl dd:target
	{
		height: 6.667em;
	}
}

/*merchandise entry*/

dl dd img{
    clear: both;
    float: left;
    height: 70px;
    width: 60px;
}

dl dd table{
    padding-left: 5px;

}

dl dd table .price{
  text-decoration: line-through;
}

dl dd table .PromotedPrice{
  color: red
}

dl dd h3{
   width: 180px;
}

dl dd .AddToCart{
    font-size:    x-small;
    text-align:   center;
    width: 150px;
}

dl dd .AddToCart #quantity_from_web{
    width: 30px;
}

dl dd .AddToCart .button{
    width: 50px;
}

dl dd .Dscreption{
   width: 280px;
}

/*Styles for naviBar_A (Top)*/

.store .NaviBar_a {
  float: right;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 11.5em;
  /*background: #99ff00;*/
  color: #bfb;
  font-size: small;
}

/* Styles for the cart in sidebar (right) */

#cart{
  float: right;
  padding-top: 3em;
  padding-left: 1em;
  padding-bottom: 1em;
}
#cart table {
  width: 20em;
  font-size: smaller;
  color:     black;
  padding-top: 1em;
}

#cart table {
  border-top:    1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
}

#cart .button_to{
  float: right
}



/*store footer panel*/
.FooterPanel {
    background-color: #BCB6AF;
    border-top: 1px solid #89847D;
    clear: both;
    height: 100%;
}
.FooterPanel .InfoMenuContent table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}