<%= 'some' %>

<table>
  <tbody>
  <tr>
    <td class="LeftCell">
      <div class="InfoContent AboutUs">
        <span>DemoShop</span> is a dummy shop. is a dummy shop. is a dummy shop. <br>
        is a dummy shop. is a dummy shop. is a dummy shop. <br>
        is a dummy shop. is a dummy shop. is a dummy shop. <br>
        is a dummy shop. is a dummy shop. is a dummy shop. <br>
        is a dummy shop. is a dummy shop. is a dummy shop. <br>
        is a dummy shop. is a dummy shop. is a dummy shop. <br>
        is a dummy shop. is a dummy shop. is a dummy shop. <br>
        is a dummy shop. is a dummy shop. is a dummy shop. <br>

        <%= link_to(image_tag("/images/home/Insights-logo.gif"), store_url) %>
        <%= link_to 'http://demoshop.com',store_url %> <br>

        is a dummy shop. is a dummy shop. is a dummy shop. <br>
        is a dummy shop. is a dummy shop. is a dummy shop. <br>
        is a dummy shop. is a dummy shop. is a dummy shop. <br>
        is a dummy shop. is a dummy shop. is a dummy shop. <br>

      </div>
    </td>
    <td class="RightCell"></td>
  </tr>
  </tbody>
</table>