<%= "Privacy policy" %>

<table>
  <tbody>
  <tr>
    <td class="LeftCell">
      <div class="InfoContent AboutUs">
        <span>DemoShop</span> protect personal privacy. protect personal privacy. protect personal privacy. <br>
        protect personal privacy. protect personal privacy. protect personal privacy. <br>
        protect personal privacy. protect personal privacy. protect personal privacy. <br>
        protect personal privacy. protect personal privacy. protect personal privacy. <br>
        protect personal privacy. protect personal privacy. protect personal privacy. <br>
        protect personal privacy. protect personal privacy. protect personal privacy. <br>
        protect personal privacy. protect personal privacy. protect personal privacy. <br>
        protect personal privacy. protect personal privacy. protect personal privacy. <br>

        <%= link_to(image_tag("/images/home/Insights-logo.gif"), store_url) %>
        <%= link_to 'http://demoshop.com', store_url %> <br>

        protect personal privacy. protect personal privacy. protect personal privacy. <br>
        protect personal privacy. protect personal privacy. protect personal privacy. <br>
        protect personal privacy. protect personal privacy. protect personal privacy. <br>
        protect personal privacy. protect personal privacy. protect personal privacy. <br>

      </div>
    </td>
    <td class="RightCell"></td>
  </tr>
  </tbody>
</table>