<%= 'promotion' %>

<table>
  <tbody>
  <tr>
    <td class="LeftCell">
      <div class="InfoContent AboutUs">
        <span>DemoShop</span> has high security(sha512,ssl). has high security(sha512,ssl). has high security(sha512,ssl). <br>
        has high security(sha512,ssl). has high security(sha512,ssl). has high security(sha512,ssl). <br>
        has high security(sha512,ssl). has high security(sha512,ssl). has high security(sha512,ssl). <br>
        has high security(sha512,ssl). has high security(sha512,ssl). has high security(sha512,ssl). <br>
        has high security(sha512,ssl). has high security(sha512,ssl). has high security(sha512,ssl). <br>
        has high security(sha512,ssl). has high security(sha512,ssl). has high security(sha512,ssl). <br>
        has high security(sha512,ssl). has high security(sha512,ssl). has high security(sha512,ssl). <br>
        has high security(sha512,ssl). has high security(sha512,ssl). has high security(sha512,ssl). <br>

        <%= link_to(image_tag("/images/home/Insights-logo.gif"), store_url) %>
        <%= link_to 'http://demoshop.com',store_url %> <br>

        has high security(sha512,ssl). has high security(sha512,ssl). has high security(sha512,ssl). <br>
        has high security(sha512,ssl). has high security(sha512,ssl). has high security(sha512,ssl). <br>
        has high security(sha512,ssl). has high security(sha512,ssl). has high security(sha512,ssl). <br>
        has high security(sha512,ssl). has high security(sha512,ssl). has high security(sha512,ssl). <br>

      </div>
    </td>
    <td class="RightCell"></td>
  </tr>
  </tbody>
</table>