<%= 'security' %>

<table>
  <tbody>
  <tr>
    <td class="LeftCell">
      <div class="ArticleContent"></div>
      <div class="ReadMore"></div>
    </td>
    <td class="RightCell">
      <div class="advertise"></div>
      <div class="RightPanel"></div>
      <div class="LastControl"></div>
    </td>
  </tr>
  </tbody>
</table>